@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Open+Sans&family=Outfit:wght@100..900&family=Prosto+One&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
#root {
  min-height: 100vh;
  display: flex;
}